.env
.env.*
!.env.example
*.zip
scripts/compress.sh
**/node_modules
**/dist
**/target
**/.next
**/.git
**/.cache
**/.coverage
**/.mypy_cache
**/.pnpm-store
**/.pytest_cache
**/.ruff_cache
**/.turbo
**/.venv
**/__pycache__
**/coverage
**/.DS_Store
*.db
*.log
